# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Database
*.db
*.sqlite
*.sqlite3
data/

# Node
node_modules/
dist/
build/
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
logs/
